<!DOCTYPE html>
<header>
  <style>
    input {
      background-color: white;
      float: inline-end;
      border-radius: 5px;
    }
    .send_bttn {
      margin-left: 262px;
      float: unset;
    }
    form {
      transform: scale(0.8);

      background-color: teal;
      color: white;
      padding: 10px;
      font-weight: bold;
    }
  </style>
</header>
<html>
  <body>
    <article class="content">
      <ul>
        <li>{{ messages.body }}</li>
      </ul>
    </article>
  </body>
</html>
